.App {
  width: 80%;
  box-sizing: border-box;
  
}
.cards {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.poster-card{
  width: 30%;
  margin: 5px;
  padding: 3px;
  border: 3px solid green;
  border-radius: 3px;
  flex-direction: column;
}
img {
  width:100%;

}
